/* styles.css */

.sidebar {
  background-color: #333;
  color: #fff;
  overflow-y: scroll;
}

.sidebar .menu-item {
  font-size: 18px;
}

.sidebar .menu-item .icon {
  color: #f0f0f0;
}

.sidebar-container {
  height: 100vh;
  overflow-y: auto;
}